.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ui.statistic{
  align-self: flex-start;
}
.ui.compact.button{
  margin: 5px;
}

.ui.input{
  margin: 5px;
}
.ui.segment{
  border: none;
}
.ui.attached.segment{
  border: none;
}
